**Задание 1** 
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0. 

**Задание 2** 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики 
(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity. 

**Задание 3** 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. 
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes 
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [12]:
import pandas as pd

In [34]:
data = pd.read_csv('ratings_small.csv')
data = data[ data.rating == 5 ]
data.movieId.value_counts().head(1)

318    153
Name: movieId, dtype: int64

Задание 2 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [15]:
#data = pd.read_csv('power.csv')
# array_ = data.country.unique()
# array_
#data.head()

In [16]:
data = pd.read_csv('power.csv')
filtered_countries = data[(
    (data.quantity >= 0) &
    (data.year.isin(['2005','2006','2007','2008','2009','2010'])) &
    (data.category.isin(['4','12','21'])) &
    (data.country.isin(['Estonia','Lithuania','Latvia']))
 )]
filtered_countries.quantity.sum()

240580.0

Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes 
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [17]:
import pandas as pd

In [18]:
data_fortrader = pd.read_html('https://fortrader.org/quotes')
data_finanz = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')

In [19]:
data_fortrader
print(type(data_fortrader[0]))
data_1 = data_fortrader[0]
data_1

<class 'pandas.core.frame.DataFrame'>

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,80.0456,-0.5494,-0.6817,NaN
1,USDRUB Курс рубля к доллару,70.8831,-0.2491,-0.3502,NaN

In [20]:
#все таблицы
data_fortrader = pd.read_html('https://fortrader.org/quotes')
db_list = []
for el in data_fortrader:
    db_list.append(el)
# print(db_list[0])
# print(type(db_list[0]))
db_list

[                           Название     Цена  Изменение  Изменение(%)  \
 0  EURRUB Курс евро к рублю сегодня  80.0456    -0.5494       -0.6817
 1       USDRUB Курс рубля к доллару  70.8831    -0.2491       -0.3502

    Обновлено
 0        NaN
 1        NaN  ,
                            Название    Цена  Изменение  Изменение(%)  \
 0  Нефть (BRENT) Курс нефти сегодня  42.330     -1.040        -2.400
 1   Нефть (WTI) Цены на нефть (WTI)  39.560     -1.340        -3.280
 2          Сахар котировки на сахар  12.630     11.400       926.830
 3                   Газ Цена на газ   1.783     -0.045        -2.462

    Обновлено
 0        NaN
 1        NaN
 2        NaN
 3        NaN  ,
                       Название       Цена  Изменение  Изменение(%)  Обновлено
 0      Серебро Цена на серебро    18.6510    -0.0490       -0.2620        NaN
 1    Палладий Цена на Палладий  1965.0000    29.9000        1.5500        NaN
 2  Золото Цена золота на бирже  1807.4000   -11.0000       -0.6000        NaN
 3      Платина Цены на платину   848.6000   -32.7000       -3.7000        NaN
 4      Медь Цена меди на бирже     2.4575    -0.3675      -13.0088        NaN,
                                         Название           Цена   Изменение  \
 0                                  ВТБ Акции ВТБ       0.035135   -0.000375
 1                         Газпром Акции газпрома     199.600000       -1.57
 2                            Лукойл Акции Лукойл    5090.000000      -367.0
 3                        Роснефть Акции Роснефти     363.700000       -2.45
 4                       Сбербанк Акции Сбербанка     209.110000       -1.86
 5           Сургутнефтегаз Акции Сургутнефтегаза      38.635000      -0.525
 6                      Норникель Акции Норникель   18574.000000        -396
 7                       Аэрофлот Акции Аерофлота      80.820000       -0.08
 8                    Северсталь Акции Северсталь     876.200000      -17.80
 9                    Транснефть Акции Транснефть  136750.000000  нет данных
 10             Ростелеком Курс акций ростелекома      85.710000       -1.11
 11                      РУСАЛ Акции РУСАЛ (RUAL)      26.505000      -0.445
 12                        НМЛК Акции НЛМК (NLMK)     140.200000      -2.580
 13                    Алроса Акции АЛРОСА (ALRS)      65.950000      -0.930
 14                    Магнит Акции Магнит (MGNT)    4341.500000      +116.5
 15                  М.видео Акции М.видео (MVID)     400.100000       -0.90
 16    Газпром нефть Акции "Газпром нефть" (SIBN)     322.650000       -5.25
 17                        НМТП Акции НМТП (NMTP)      10.605000     -0.0250
 18            Полиметалл Акции Полиметалл (POLY)    1415.100000       -6.80
 19        Полюс Золото Акции Полюс Золото (PLZL)   13288.000000      +390.0
 20                  НОВАТЭК Акции НОВАТЭК (NVTK)    1025.600000      -19.80
 21                РусГидро Акции РусГидро (HYDR)       0.760800     -0.0152
 22                Татнефть Акции Татнефть (TATN)     552.400000       -8.20
 23        АФК Система Акции АФК "Система" (AFKS)      18.000000       0.000
 24                                 МТС Акции МТС     314.700000       -6.40
 25                Башнефть Акции Башнефть (BANE)    1724.000000       -36.0
 26                    Яндекс Акции Яндекс (YNDX)    3590.600000       +21.2
 27  X5 Retail Group Акции X5 Retail Group (FIVE)    2169.500000     -368.00
 28                  ФСК ЕЭС Акции ФСК ЕЭС (FEES)       0.183520    -0.00846
 29                      Мечел Акции Мечел (MTLR)      64.690000       -0.11
 30                МосБиржа Акции МосБиржа (MOEX)     124.030000       +1.55

    Изменение(%)  Обновлено
 0     -1.056041        NaN
 1         -0.78        NaN
 2          -6.7        NaN
 3         -0.67        NaN
 4         -0.88        NaN
 5        -1.341        NaN
 6            -2        NaN
 7         -0.10        NaN
 8         -1.99        NaN
 9    нет данных        NaN
 10        -1.28        NaN
 11       -1.651        NaN
 12       -1.807        NaN
 13       -1.391        NaN
 14         +2.8        NaN
 15        -0.22        NaN
 16        -1.60        NaN
 17      -0.2352        NaN
 18        -0.48        NaN
 19         +3.0        NaN
 20        -1.89        NaN
 21      -1.9588        NaN
 22        -1.46        NaN
 23        0.000        NaN
 24        -1.99        NaN
 25         -2.0        NaN
 26         +0.6        NaN
 27       -14.50        NaN
 28     -4.40671        NaN
 29        -0.17        NaN
 30        +1.27        NaN  ,
                                Название     Цена  Изменение  Изменение(%)  \
 0         Макдональдс Акции Макдональдс   184.83      -1.02         -0.55
 1                   IBM Corp. IBM Corp.   116.00      -1.71         -1.45
 2             Microsoft Microsoft Corp.   213.42       0.59          0.28
 3                     APPLE Акции APPLE   382.05       0.68          0.18
 4                  Yandex Акции яндекса    51.17       0.94          1.87
 5                   Toyota Акции Тойоты   120.94      -4.47         -3.56
 6      Volkswagen Курс акций Volkswagen   135.24       0.24          0.18
 7     Amazon.com, Inc. Amazon.com, Inc.  3148.98      67.87          2.20
 8           Boeing Акции Boeing Company   173.76      -6.32         -3.51
 9             Coca-Cola Акции Coca-Cola    44.13      -0.94         -2.09
 10         Netflix Акции Netflix (NFLX)   506.41       3.63          0.72
 11  Walt Disney Акции Walt Disney (DIS)   116.26      -0.40         -0.34
 12         Facebook Цена акций Facebook   242.79      -0.79         -0.32
 13            Tesla Цены на акции Тесла  1383.44      17.56          1.29
 14            Twiter Цена акций твитера    35.59       0.18          0.51
 15    Hasbro Цена на акции Hasbro, Inc.    71.72      -1.54         -2.10
 16                               Сименс   105.74      -0.22         -0.21
 17                          Master Card   294.16      -5.99         -2.00

     Обновлено
 0         NaN
 1         NaN
 2         NaN
 3         NaN
 4         NaN
 5         NaN
 6         NaN
 7         NaN
 8         NaN
 9         NaN
 10        NaN
 11        NaN
 12        NaN
 13        NaN
 14        NaN
 15        NaN
 16        NaN
 17        NaN  ,
                                             Название       Цена  Изменение  \
 0                         EURUSD Курс евро к доллару    1.12933   -0.00437
 1   AUDUSD Курс австралийского доллара к доллару сша    0.69587   -0.00266
 2         AUDCAD Australian Dollar / Canadian Dollar    0.94532    0.00109
 3                          EURCHF Euro / Swiss Franc    1.06178   -0.00201
 4                  EURGBP Euro / Great Britain Pound    0.89489   -0.00393
 5                         EURJPY Euro / Japanese Yen  121.11600   -0.51500
 6          GBPJPY Great Britain Pound / Japanese Yen  135.32900    0.01700
 7                        GBPUSD Курс фунта к доллару    1.26181    0.00054
 8       USDCAD Курс канадского доллара к доллару сша    1.35867    0.00693
 9              NZDUSD New Zealand Dollar / US Dollar    0.65648   -0.00081
 10                    USDCHF US Dollar / Swiss Franc    0.94039    0.00212
 11         USDCNH Курс китайского юаня к доллару США    6.99687    0.00237
 12                        USDJPY Курс йены к доллару  107.25100   -0.03100

     Изменение(%)  Обновлено
 0       -0.38546        NaN
 1       -0.38080        NaN
 2        0.11544        NaN
 3       -0.18895        NaN
 4       -0.43724        NaN
 5       -0.42300        NaN
 6        0.01300        NaN
 7        0.04281        NaN
 8        0.51267        NaN
 9       -0.12323        NaN
 10       0.22595        NaN
 11       0.03388        NaN
 12      -0.02900        NaN  ,
                                              Название        Цена  Изменение  \
 0                               Bitcoin Курс биткоина  9210.00000 -225.37000
 1          Litecoin Курс лайткоин к доллару (LTC/USD)    43.99900   -1.37200
 2   BitcoinCash Курс Биткоин кеш к доллару США (BC...   236.63000   -6.54000
 3                                           Dash Dash    71.06300   -1.56100
 4                                       Ripple Ripple     0.20030   -0.00540
 5                                   Ethereum Ethereum   239.90000   -7.01000
 6                                         Zcash (ZEC)    56.24000   -1.87000
 7                                           NEO (NEO)    10.67200   -0.41900
 8                                           EOS (EOS)     2.63110   -0.05470
 9                                          TRON (TRX)     0.01812    0.00018
 10                                             Monero    66.10300   -0.19700
 11                                               IOTA     0.25320   -0.00130
 12                       ETC/USD эфириум классик, ETC     6.58520   -0.05360

     Изменение(%)  Обновлено
 0       -2.38900        NaN
 1       -3.02400        NaN
 2       -2.68900        NaN
 3       -2.14900        NaN
 4       -2.64880        NaN
 5       -2.83900        NaN
 6       -3.22000        NaN
 7       -3.77800        NaN
 8       -2.03660        NaN
 9        0.99209        NaN
 10      -0.29700        NaN
 11      -0.51080        NaN
 12      -0.80740        NaN  ,
                                    Название       Цена   Изменение  \
 0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00    +116 884
 1                      РТС Курс индекса РТС    1234.42      -11.12
 2                                     DAX30   12489.50       -5.30
 3                       Индекс Dow 30 (DJI)   25619.00        -448
 4                                      FTSE    7137.70      +981.5
 5                                    CAC 40    4937.50       -92.7
 6                                Nasdaq 100   10716.00      +49.30
 7                              Russell 2000    1400.50       -26.9
 8                                   S&P 500    3141.75      -25.50
 9                                   IBEX 35    7247.40  нет данных
 10                               Nikkei 225   22410.00        -102
 11                            Euro Stoxx 50    3274.50       -39.8
 12                              S&P/ASX 200    5947.20  нет данных
 13                                      MIB   19395.00  нет данных

    Изменение(%)  Обновлено
 0        +9 384        NaN
 1         -0.89        NaN
 2         -0.04        NaN
 3            -2        NaN
 4         +15.9        NaN
 5          -1.8        NaN
 6         +0.46        NaN
 7          -1.9        NaN
 8         -0.81        NaN
 9    нет данных        NaN
 10           -0        NaN
 11         -1.2        NaN
 12   нет данных        NaN
 13   нет данных        NaN  ]

In [33]:
data_finanz = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')
db_list = []
for el in data_finanz:
    db_list.append(el)
print(len(data_finanz), 'таблицы')
print('1-я таблица')
data_finanz[0]

3 таблицы
1-я таблица

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 799,"-0,6%",Nasdaq,10 493,"1,4%",Биткойн,9 392,"-0,5%",USD/RUB,708000,"-0,7%"
1,РТС,1 246,"0,0%",S&P500,3 170,"0,8%",Нефть,433,"-0,3%",EUR/RUB,802075,"-0,7%"
2,Dow,26 067,"0,7%",FTSE100,6 117,"-0,6%",Золото,1 814,"0,3%",EUR/USD,11329,"0,0%"