Задание 1** 
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам: 
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг 
    - оценка 4.5 и 5 - высокий рейтинг 
Результат классификации запишите в столбец class 
**Задание 2** 
Используем файл keywords.csv. 
Необходимо написать гео-классификатор,который каждой строке сможет выставить географическую принадлежность определенному региону. 
Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. 
Если поисковый запрос не содержит названия города, то ставим 'undefined'. 
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток: 
geo_data = { 
    'Центр': ['москва', 'тула', 'ярославль'], 
    'Северо-Запад': ['петербург', 'псков', 'мурманск'], 
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
} 
Результат классификации запишите в отдельный столбец region. 
**Задание 3 (бонусное)** 
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже. 
При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму: 
1. В переменную years запишите список из всех годов с 1950 по 2010. 
2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм: 
- для каждой строки пройдите по всем годам списка years 
- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска 
- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год 
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year' 
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга 
**Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.**

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('ratings_small.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
def classifier(param):
    if param <= 2.0:
        return 'Низкий рейтинг'
    if(param > 2.0) & (param <= 4.0):
        return 'Средний рейтинг'
    if (param > 4.0) & (param <= 5.0):
        return 'Высокий рейтинг'

In [14]:
data['class'] = data['rating'].apply(classifier)
#data.head()
data.sample(10)

        userId  movieId  rating   timestamp            class
1939        18     2706     3.5  1455231410  Средний рейтинг
4710        28    60674     2.5  1234853684  Средний рейтинг
55169      365   155820     3.5  1488945263  Средний рейтинг
82018      520     1214     5.0  1326609215  Высокий рейтинг
33018      225     2302     4.0   949111556  Средний рейтинг
10311       66     7647     4.0  1093747992  Средний рейтинг
34605      232    54004     3.0  1241923882  Средний рейтинг
100182     610    44199     4.0  1493847397  Средний рейтинг
43468      291    50872     5.0  1453051531  Высокий рейтинг
10563       68     1234     3.5  1158533066  Средний рейтинг

In [15]:
data = pd.read_csv('keywords.csv')
print(data.head())
# print(data.sample())
# print(data.tail())
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [16]:
def classifier(param):
    for key, values in geo_data.items():
        for value in values:
            if param in value:
                return key
    return 'undefined'

In [18]:
data['region'] = data['keyword'].apply(classifier)
print(data.sample(100))
data.region.value_counts()

                    keyword  shows     region
32795                 запор  10013  undefined
36485         топ хотелс ру   9090  undefined
26198               винокур  12212  undefined
44605              джо пеши   7646  undefined
41380  гисметео альметьевск   8232  undefined
...                     ...    ...        ...
60637            бенни хилл   5777  undefined
74982   рекорд радио онлайн  21610  undefined
82052             uz gov ua   4369  undefined
80187       солкосерил гель   4936  undefined
6704             электрички  38462  undefined

[100 rows x 3 columns]

undefined         99926
Дальний Восток       29
Центр                24
Северо-Запад         21
Name: region, dtype: int64