**Задание 1** 

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам: 
- если источник traffic_source равен yandex или google, то в source_type ставится organic 
- для источников paid и email из России - ставим ad 
- для источников paid и email не из России - ставим other 
- все остальные варианты берем из traffic_source без изменений 

**Задание 2** 
В файле URLs.txt содержатся url страниц новостного сайта. 
Вам необходимо отфильтровать его по адресам страниц с текстами новостей. 
Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия: 
1. Прочитайте содержимое файла с датафрейм 
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном 

**Задание 3** 
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [38]:
import pandas as pd
from pymystem3 import mystem

**Задание 1** 
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам: 
- если источник traffic_source равен yandex или google, то в source_type ставится organic 
- для источников paid и email из России - ставим ad 
- для источников paid и email не из России - ставим other 
- все остальные варианты берем из traffic_source без изменений

In [39]:
def classifier(row):
    if ('yandex' in row.traffic_source) | ('google' in row.traffic_source):
        return 'organic'
    if ('paid' in row.traffic_source) | ('email' in row.traffic_source):
        if row.region == 'Russia':
            return 'ad'
        else:
            return 'other'

In [42]:
%%time
log = pd.read_csv('visit_log.csv', sep=';')
print(log.tail())
log['source_type'] = log.apply(classifier, axis=1)
log.tail()

        timestamp    visit_id                                 url   region  \
18933  1550094288  57e5ba8560  https://host.ru/c2382eb3d6afc8d0f3  Belarus
18934  1550094296  6f9389ec1b  https://host.ru/f1eb4601740d627ab0   Russia
18935  1550094308  e8cf2eb8e6  https://host.ru/a5dda93e70318570c0  Belarus
18936  1550094314  79530b9a67  https://host.ru/6fda01ec57f23abc9e   Russia
18937  1550094323  b3b634f824  https://host.ru/39fa884393666d45fc   Russia

          user_id traffic_source
18933  98b19810d0           paid
18934  32ebb20c13           paid
18935  b85baa8c73         yandex
18936  e154b06121           paid
18937  7d27a58fb8          email
Wall time: 14.3 s

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

In [52]:
%%time
log = pd.read_csv('visit_log.csv', sep=';')
print(log.tail())
log.loc[log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[log.traffic_source.isin(['paid', 'email']) & log.region.isin(['Russia']), 'source_type'] = 'ad'
#log.loc[log.traffic_source.isin(['paid', 'email']) & (log.region.isin(['Russia'])==False), 'source_type'] = 'other'
log.loc[log.traffic_source.isin(['paid', 'email']) & (~log.region.isin(['Russia'])), 'source_type'] = 'other'
log.tail()

        timestamp    visit_id                                 url   region  \
18933  1550094288  57e5ba8560  https://host.ru/c2382eb3d6afc8d0f3  Belarus
18934  1550094296  6f9389ec1b  https://host.ru/f1eb4601740d627ab0   Russia
18935  1550094308  e8cf2eb8e6  https://host.ru/a5dda93e70318570c0  Belarus
18936  1550094314  79530b9a67  https://host.ru/6fda01ec57f23abc9e   Russia
18937  1550094323  b3b634f824  https://host.ru/39fa884393666d45fc   Russia

          user_id traffic_source
18933  98b19810d0           paid
18934  32ebb20c13           paid
18935  b85baa8c73         yandex
18936  e154b06121           paid
18937  7d27a58fb8          email
Wall time: 335 ms

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,ad

**Задание 2** 
В файле URLs.txt содержатся url страниц новостного сайта. 
Вам необходимо отфильтровать его по адресам страниц с текстами новостей. 
Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. 
Выполните следующие действия: 
1. Прочитайте содержимое файла с датафрейм 
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение 
в соответствии с заданным шаблоном

In [47]:
df = pd.read_csv('urls.txt')
print(df.head())
df[df.url.str.contains('/\d{8}-')].head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

**Задание 3** 
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. 
Леммы должны иметь строковый тип

In [19]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
print(data.head())
print('End')

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546
End

In [27]:
# m = Mystem()
# search = 'курс гривны к рублю'
# lemmas = m.lemmatize(search)
# lemmas

['курс', ' ', 'гривна', ' ', 'к', ' ', 'рубль', '\n']

In [50]:
def search_lemma(phrase):
    return m.lemmatize(phrase)

In [51]:
%%time
data.lemmas = data.keyword.apply(search_lemma)
data.head()

Wall time: 22.1 s

                 keyword   shows                                 lemmas
0    курс гривны к рублю  125076  [курс,  , гривна,  , к,  , рубль, \n]
1        доллары в рубли  114173           [доллар,  , в,  , рубль, \n]
2  100 долларов в рублях   97534   [100,  , доллар,  , в,  , рубль, \n]
3             курс рубля   53546                   [курс,  , рубль, \n]